<h1>Angular Router</h1>
<nav>
  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center </a>/
  <a routerLink="/heroes" routerLinkActive="active">Heroes </a>/
  <a routerLink="/practicas" routerLinkActive="active">FiltroPracticas </a>/
  <a routerLink="/check" routerLinkActive="active">FormPracticas </a>/
  <a routerLink="/navbar" routerLinkActive="active">NavBar </a>/
  <a routerLink="/httpClient" routerLinkActive="active">HttpClient </a>/
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>/
</nav>
<div>
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

<router-outlet name="popup"></router-outlet>